.body-main{
    background-color: var(--gray-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content{
    padding-top: 72px;
}
.content h3{
    display: flex;
    justify-content: center;
    font: var( --subtitle-inco);
    color: var(--red);
}
.content h2{
    display: flex;
    justify-content: center;
    color: var(--gray-600);
    font: var(--title-md);
}
/* grid */
.box-grid-content{
    padding-top: 56px;
    max-width: 1040px;
    height: auto;
}
.box-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.card{
    background-color: var(--gray-300);
    height: 270px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.card:hover{
    border: 1px solid var(--gray-400);
}
.txt-card{
    padding-left: 10px;
    padding-top: 20px;
}
.txt-card h1{
    font: var(--title-sm);
    color: var(--gray-600);
    margin-bottom: 8px;
}
.txt-card p{
    font: var(--text-sm);
    color: var(--gray-500);
}
.card img{
    width: 92%;
    height: 150px;
    object-fit: cover;
    margin-top: -20px;
    border-radius: 0.9rem;
    overflow: hidden;
}
/* section servece */
.service{
    background-color: var(--gray-100);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titles{
    padding-bottom: 56px;
    padding-top: 88px;
}
.titles h3{
    display: flex;
    justify-content: center;
    font: var( --subtitle-inco);
    color: var(--red);
}
.titles h2{
    display: flex;
    justify-content: center;
    color: var(--gray-600);
    font: var(--title-md);
}
.box-grid-service{
    max-width: 900px;
    height: auto;
    padding-top: 56px;
    padding-bottom: 120px;
}
.box-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.service-card{
    border: 1px solid var(--gray-200);
    width: 280px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 1rem;
}
.service-card i{
    padding-bottom: 10px;
    font-size: 48px;
    color: var(--purple);
}
.service-card h1{
    font: var(--title-sm);
    color: var(--gray-600);
    margin-bottom: 8px;
}
.service-card p{
    font: var(--text-sm);
    color: var(--gray-500);
}
.service-card #database{
    color: var(--yellow);
}
.service-card #infinity{
    color: var(--green);
}