:root{
    font-family: "Poppins", serif;
    --color-header: #ffcb00;
    --bh--color: #302681;
    --color-icon:#009440;
    --color-fonts: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background: var(--bh--color);
}
/* header */
.container{
    max-width: 1280px;
    background: var(--color-header);
    margin-inline: auto;
    padding-inline: 32px;
    padding-block: 32px;
}
#first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.icon-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-icon);
}
.icon-logo i{
    color: var(--color-icon);
    font-size: 20px;
}
.logo{
    color: var(--color-fonts);
    text-shadow: 2px 2px 5px  black;
    font-size: 18px;
}
.search{
    position: relative;
}
.search input{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0.30rem;
    padding: 8px 8px;
}
.search i{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    width: 15%;
}
#second{
    border: 1px solid var(--color-fonts);
    border-inline: none;
}
#second ul li{
    display: inline-block;
    margin-inline: 45px;
    margin-block: 16px;
}
#second ul li a{
    text-decoration: none;
    color: var(--color-icon);
    font-size: 18px;
}
#second ul li a:hover{
    color: var(--color-fonts);
}