:root{
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-nunito: "Nunito", sans-serif;

    --aside: 700 1.3rem/9.3rem var(--font-poppins);
    --list-date: 700 1.3rem/8.0rem var(--font-poppins);
    --txt-input: 500 0.875rem/8.75rem var(--font-nunito);
    --txt-md: 400 1rem/150% var(--font-roboto);
    --txt-sm: 400 0.75rem/140% var(--font-roboto);

    /* colors */

    --bg: #0c057f;
    --txt-letter: #ffffff;
    --border-input: #a0a0a0;
    --check-itens: #4AA7E8;
    --color-list: #3014b2;
    --bg-the-page: #ffffffec;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}
img{
    width: 100%;
}