.page{
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    height: 550px;
    border: 1rem solid red;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    border: 0.125rem solid var(--border-input);
    border-block: none;
}
nav{
    background-color: var(--bg-the-page);
    width: 100%;
    & .date-title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1.25rem;
        color: var(--color-list);
        font: var(--aside);
    }
    & ul li{
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding-top: 1.25rem;
    }
}
a{
    color: var( --color-list);
    font: var(--list-date);
    text-decoration: none;
    margin-inline: 100px;
    position: relative;
}
a::after{
    content: "";
    background-color: var(--color-list);
    position: absolute;
    width: 0%;
    height: 0.18rem;
    bottom: 0;
    left: 0;
    transition: ease-in-out;
    transition: all 0.3s;
}
a:hover::after{
    width: 100%;
}