legend{
    display: flex;
    align-items: center;
    gap: .75rem;
    color: var( --text-heading);
   font-family: "Baloo 2", serif;
   font-size: .75rem;
   padding-bottom: 24px;
}
legend i{
    color: var(--input-placeholder);
    font-size: 24px;
}
input,textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--input-placeholder);
    background-color: var(--input-base);
    font-family: "Open Sans", serif;
    font-size: 1rem;
    color: var(--text-heading);
}
input:focus{
    outline: 1px solid var(--brand-light);
    border: 1px solid var(--brand-light);
}
input:not(:focus):valid + .danger{
    display: none;
}
label{
    color: var(--text-body);
    font-family: "Open Sans", serif;
    font-size: 16px;
    padding-bottom: 16px;
    display: inline-block;
}
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator{
    display: none;
    -webkit-appearance: none;
}
p{
    color: var(--text-body);
    font-family: "Open Sans", serif;
    font-size: 16px;
    display: inline-block;
}