:root{
    /* font-family: "Baloo 2", serif
    font-family: "Open Sans", serif; */
    --font-sans: "Open Sans", serif;
    --font-one: "Leckerli One", serif;
    --font-baloo: "Baloo 2", serif;

    --logo: 400 2.5rem/auto var(--font-one);
    --head-md: 700 1.75rem/auto var(--font-baloo);
    --head-sm: 700 1.125rem/auto var(--font-baloo);
    --body-md: 400 1rem/auto var(--font-sans);
    --body-sm: 400 0.875rem/auto var(--font-sans);
    --body-xs: 400 0.75rem/auto var(--font-sans);

    --pink: #ff598b;
    --bg: #131516;
    --shape-body: #212427;
    --input-placeholder:#869198;
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --brand-light: #59B2FF;
    --danger: #FF5959;


    /* text */

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    
    background-color: var(--bg);
}
form{
    max-width: 600px;
}
.input-wrapper{
    padding-bottom: 1rem;
}
fieldset{
    border: none;
    padding-bottom: 48px;
}