/* grid-radio */
.radio-wrapper{
    border: 1px solid var(--input-placeholder);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.1rem, 1fr));
    max-width: 350px;
    gap: .5rem;
}
.radio-inner{
    background-color: var(--input-base);
    width: 100%;
    display: grid;
    justify-items: center;
    gap: .25rem;
    border-radius: 0.5rem;
    font-family: "Open Sans", serif;
    position: relative;

    & label{
        padding-block: 1rem;
    }
    & label > img{
        padding-right: 0.5rem;
    }

    & input{
        all: unset;
        position: absolute;
        inset: 0;
    }
    &:has(:checked){
         background-color: var(--input-stroke);
         font-weight: bold;
    }
}
/* color-radios */
.radio-colors{
    display: flex;
    align-items: center;
}
.colors{
    position: relative;
    appearance: none;

    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 10px;
    max-width: 560px;
}
#brand-light::after{
    content: "";
    position: absolute;
    background-color: #59B2FF;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#navy::after{
    content: "";
    position: absolute;
    background-color: #6A59FF;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#purple::after{
    content: "";
    position: absolute;
    background-color: #6A59FF;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fuschia::after{
    content: "";
    position: absolute;
    background-color: #FF59F9;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pink::after{
    content: "";
    position: absolute;
    background-color: #FF598B;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#danger::after{
    content: "";
    position: absolute;
    background-color: #FF5959;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#orange::after{
    content: "";
    position: absolute;
    background-color: #FF8B59;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#yellow::after{
    content: "";
    position: absolute;
    background-color: #FFCD59;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#lime::after{
    content: "";
    position: absolute;
    background-color: #E1FF59;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#green::after{
    content: "";
    position: absolute;
    background-color: #59FF91;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cyan::after{
    content: "";
    position: absolute;
    background-color: #59FFF9;
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.colors:hover{
    border: 1px solid aqua;
}

/* toggle button */
.black{
    display: flex;
    align-self: center;
    gap: 10px;
}
.toggle{
    display: none;
}
.toggle + label{
    width: 64px;
    height: 32px;
    background: var(--input-base);
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}
.toggle + label:before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: var(--input-stroke);
    display: block;
    border-radius: 50%;
    right: unset;
    left: 5px;
    top: 5px;
    transition: 200ms;
}
.toggle:checked + label{
    background: var(--brand-light);
}
.toggle:checked + label:before{
    content: "";
    left: calc(100% - 30px);
    box-shadow: 0 4px 4px rgb(0, 0, 0 / 10%);
    background: var( --text-heading);
}

/* dropzone */
.dropzone{
    position: relative;
    max-width: 368px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 10px;

    & p{
        background-color: var(--input-stroke);
        padding: 0.5rem;
        border-radius: 0.4rem;
    }
    & img{
        padding-right: 10px;
    }
    & input{
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }
    & label{
        padding-top: 10px;
        padding-left: 10px;
    }
}
